<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create new category</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap-4.5.2-dist/css/bootstrap.min.css">
    <link href="styles/cssandjs/main.css" rel="stylesheet" />
</head>
<body>
<nav class="navbar navbar-expand-md">
    <a class="navbar-brand" href="#?" th:text="${currentUser}"></a>
    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main-navigation">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/createItem">Create new entry</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/createCategory">Create new category</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/list?categoryName=Coming Up">Upcoming and Passed Due</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/list">Dashboard List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Sign out</a>
            </li>
        </ul>
    </div>
</nav>


<div class="container features">
    <form th:action="@{/createCategory}" th:object="${newCategory}" method="post">
        <div class="form-group" >
            <label for="nameInput">Category name</label>
            <input type="text" class="form-control" id="nameInput" placeholder="Mow lawn" th:field="*{category}">
        </div>
        <div class="form-group">
            <label for="categoryInput">Parent Category</label>
            <select class="form-control" id="categoryInput" th:field="*{parentCategory}" >
                <option value="Root">No Parent</option>
                <option th:each="category : ${categoryList}" th:text="${category.getCategory()}" th:value="${category.getCategory()}"></option>
            </select>
        </div>

        <input type="submit" value="Submit" />
    </form>
</div>

<script src="jquery-3.5.1.min.js"></script>
<script src="bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>
</body>
</html>